<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="Styles/dashboard.css">
    <link rel="stylesheet" href="Styles/games.css">
    <link rel="stylesheet" href="Styles/navbar.css">
    <link rel="stylesheet" href="Styles/scrollbar.css">
    <title>Casino Stars</title>
</head>
<body>
    <nav>
        <div class="nav">
          <ul>
            <li><img src="/images/logo.png" alt="" width="75"></li>
            <li><a href="dashboard.html" class="">Dashboard</a></li>
            <li><a href="games.html" class="active">Games</a></li>
            <li><a href="stat.html" class="">Statistics</a></li>
            <li><a href="history.html" class="">History</a></li>
          </ul>
        </div>
      </nav>

      <h2 class="white-text header">Most Popular</h2>
      <div class="popular">
        <div class="game">
          <img src="images/poker.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Poker</h4></span>
            <p>A challenging mind game whose ultimate objective is winning the pot.</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1 modal-trigger" href="#poker-modal">MORE INFO<span class="right"><i class="material-icons">info</i></span></a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="poker.html">PLAY<span class="right"><i class="material-icons">play_circle_outline</i></span></a>
            </div>
          </div>
        </div>
        <div id="poker-modal" class="modal">
          <div class="modal-header">
            <img src="/images/pokerBanner.jpg" alt="" height="200" width="100%">
          </div>
          <div class="modal-content">
            <h4>Poker</h4>
            <ul class="tabs">
              <li class="tab col s2"><a href="#instructionsPoker"><i class="material-icons">info</i></a></li>
              <li class="tab col s2"><a class="active" href="#setPoker"><i class="material-icons">settings</i></a></li>
            </ul>
            <div id="instructionsPoker" class="col s12">
              <br>
              <p>Instructions</p>
              <ol>
                <li>work</li>
              </ol>
            </div>
            <div id="setPoker">
              <br>
              <p>Settings</p>
            </div>
          </div>
          <div class="modal-footer" style="margin: 0 auto; background-color: #232228;">
            <a class="btn waves-effect waves-light green" style="font-weight: bold; width: 90%; border: 2px solid white;" href="poker.html">PLAY</a>
            <a href="#!" class="red modal-close waves-effect waves-red btn-flat" style="font-weight: bold; color: white; border: 2px solid white;">Close</a>
          </div>
        </div>
        <div class="game">
          <img src="images/BlackJack.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">BlackJack</h4></span>
            <p>A card game in which players try to obtain a combination of cards worth 21 points.</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1 modal-trigger" href="#bj-modal">MORE INFO<span class="right"><i class="material-icons">info</i></a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="blackjack.html">PLAY<span class="right"><i class="material-icons">play_circle_outline</i></span></a>
            </div>
          </div>
        </div>
        <div id="bj-modal" class="modal">
          <div class="modal-header">
            <img src="/images/pokerBanner.jpg" alt="" height="200" width="100%">
          </div>
          <div class="modal-content">
            <h4>BlackJack</h4>
            <ul class="tabs">
              <li class="tab col s2"><a href="#instructionsBJ"><i class="material-icons">info</i></a></li>
              <li class="tab col s2"><a class="active" href="#setBJ"><i class="material-icons">settings</i></a></li>
            </ul>
            <div id="instructionsBJ" class="col s12">
              <br>
              <p>Instructions</p>
              <ol>
                <li>work</li>
              </ol>
            </div>
            <div id="setBJ">
              <br>
              <p>Settings</p>
            </div>
          </div>
          <div class="modal-footer" style="margin: 0 auto; background-color: #232228;">
            <a class="btn waves-effect waves-light green" style="font-weight: bold; width: 90%; border: 2px solid white;" href="blackjack.html">PLAY</a>
            <a href="#!" class="red modal-close waves-effect waves-red btn-flat" style="font-weight: bold; color: white; border: 2px solid white;">Close</a>
          </div>
        </div>
      </div>

      <h2 class="white-text header">New Additions</h2>
      <div class="popular">
        <div class="game">
          <img src="images/Baccarat.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Baccarat</h4></span>
            <p>A card game in which the winner is the player who holds two or three cards totaling closest to nine.</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1 modal-trigger" href="#bacc-modal">MORE INFO<span class="right"><i class="material-icons">info</i></a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="baccarat.html">PLAY<span class="right"><i class="material-icons">play_circle_outline</i></span></a>
            </div>
          </div>
        </div>
        <div id="bacc-modal" class="modal">
          <div class="modal-header">
            <img src="/images/pokerBanner.jpg" alt="" height="200" width="100%">
          </div>
          <div class="modal-content">
            <h4>Baccarat</h4>
            <ul class="tabs">
              <li class="tab col s2"><a href="#instructionsBacc"><i class="material-icons">info</i></a></li>
              <li class="tab col s2"><a class="active" href="#setBacc"><i class="material-icons">settings</i></a></li>
            </ul>
            <div id="instructionsBacc" class="col s12">
              <br>
              <p>Instructions</p>
              <ol>
                <li>work</li>
              </ol>
            </div>
            <div id="setBacc">
              <br>
              <p>Settings</p>
            </div>
          </div>
          <div class="modal-footer" style="margin: 0 auto; background-color: #232228;">
            <a class="btn waves-effect waves-light green" style="font-weight: bold; width: 90%; border: 2px solid white;" href="baccarat.html">PLAY</a>
            <a href="#!" class="red modal-close waves-effect waves-red btn-flat" style="font-weight: bold; color: white; border: 2px solid white;">Close</a>
          </div>
        </div>

        <div class="game right">
          <img src="images/roulette.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Roulette</h4></span>
            <p>A no-skill gambling game that will leave your head spinning.</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO<span class="right"><i class="material-icons">info</i></a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="roulette.html">PLAY<span class="right"><i class="material-icons">play_circle_outline</i></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="popular">
        <div class="game">
          <img src="images/slots.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Slots</h4></span>
            <p>Slot machines are gambling machines that create a game of chance for their customers.</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO<span class="right"><i class="material-icons">info</i></a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="slots.html">PLAY<span class="right"><i class="material-icons">play_circle_outline</i></span></a>
            </div>
          </div>
        </div>
        <div class="game coming-soon">
          <img src="images/rummy.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Rummy</h4></span>
            <p>Description here</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1" disabled>MORE INFO<span class="right"><i class="material-icons">info</i></a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" disabled>PLAY<span class="right"><i class="material-icons">play_circle_outline</i></span></a>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script> 
        M.AutoInit();
      </script>
      <script src="Scripts/games.js"></script>
</body>
</html>