<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="Styles/dashboard.css">
    <link rel="stylesheet" href="Styles/games.css">
    <link rel="stylesheet" href="Styles/navbar.css">
    <link rel="stylesheet" href="Styles/scrollbar.css">
    <title>Casino Stars</title>
</head>
<body>
    <nav>
        <div class="nav">
          <ul>
            <li><img src="/images/logo.png" alt="" width="75"></li>
            <li><a href="dashboard.html" class="">Dashboard</a></li>
            <li><a href="games.html" class="active">Games</a></li>
            <li><a href="stat.html" class="">Statistics</a></li>
            <li><a href="history.html" class="">History</a></li>
          </ul>
        </div>
      </nav>

      <h2 class="white-text header">Most Popular</h2>
      <div class="popular">
        <div class="game">
          <img src="images/poker.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Poker</h4></span>
            <p>Description here</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO</a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="poker.html">PLAY</a>
            </div>
          </div>
        </div>
        <div class="game">
          <img src="images/BlackJack.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">BlackJack</h4></span>
            <p>Description here</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO</a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="blackjack.html">PLAY</a>
            </div>
          </div>
        </div>
      </div>

      <h2 class="white-text header">New Additions</h2>
      <div class="popular">
        <div class="game">
          <img src="images/Baccarat.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Baccarat</h4></span>
            <p>Description here</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO</a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="baccarat.html">PLAY</a>
            </div>
          </div>
        </div>
        <div class="game right">
          <img src="images/roulette.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Roulette</h4></span>
            <p>Description here</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO</a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="roulette.html">PLAY</a>
            </div>
          </div>
        </div>
      </div>
      <div class="popular">
        <div class="game">
          <img src="images/slots.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Slots</h4></span>
            <p>Description here</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO</a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;" href="slots.html">PLAY</a>
            </div>
          </div>
        </div>
        <div class="game coming-soon">
          <img src="images/rummy.jpg">
          <div class="info">
            <span class="game-title"><h4 class="center-align">Rummy</h4></span>
            <p>Description here</p>
            <div class="buttons">
              <a class="btn waves-effect waves-light grey lighten-1">MORE INFO</a>
              <a class="btn waves-effect waves-light green" style="font-weight: bold;">PLAY</a>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script> 
        M.AutoInit();
      </script>
      <script src="Scripts/games.js"></script>
</body>
</html>