<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/game.css">
    <link rel="stylesheet" href="Styles/scrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Casino Stars</title>
</head>
<body>
    <%function getTotal() {
        let sum = 0
        inventory.forEach((num) => {
          sum+=num.profit
        })
        return sum
    }%>
    <p style="display:none" class="bal"><%=getTotal()%></p>
    <p style="display:none" class="numPlayers"><%=players%></p>
    <a class="waves-effect waves-light btn modal-trigger hidden" href="#modal1" style="display:none"></a>

    <canvas width="100%"  height="100%" style="background-color: #86391a;"></canvas>

    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 class="Center">Poker Game Ended</h4>
          <h3 class="GameEnded">Profit: 100</h3>
        </div>
        <div class="modal-footer">
            <form action="/blackjack" method="post">
                <input type="hidden" name="amount" class="amount">
                <input type="hidden" name="numOfComputers" value="<%=players%>">
                <input type="submit" name="mode" value="PLAY" class="green btn">
                <input type="submit" name="mode" value="STOP" class="red btn">
            </form>
        </div>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            instances = M.Modal.init(elems);
        });
        
        let startAmount = document.querySelector('.bal')
        var canvas = document.querySelector('canvas')

        let playerBal = startAmount.textContent
        const totalBeginVal = playerBal
 
        /* Rresize the canvas to occupy the full page, 
            by getting the widow width and height and setting it to canvas*/
        
        canvas.width  = window.innerWidth;
        canvas.height = window.innerHeight;

        window.onresize = function() {
            canvas.width  = window.innerWidth;
            canvas.height = window.innerHeight;
        }
    </script>
    <script src="/Scripts/poker.js"></script>
</body>
</html>