
body {
    background-color: #232228;
    font-family: 'Roboto';
}

.popular {
    /* margin: 20px 45px 20px 45px; */
    margin: 40px auto;
    display: flex;
    /* width: 1640px; */
    /* grid-template-columns: 1fr 1fr; */
    column-gap: 60px;
    /* row-gap: 20px; */
    place-content: center;
    justify-content: center;
}

.right {
    margin: auto 0 auto auto;
}

.game {
    color: white;
    display: flex;
    transition: all .1s ease;
    width: fit-content;
}

.game:hover {
    transform: scale(1.06);
}

.game img {
    height: 300px;
}

.game > .info {
    background-color: #0c0b10;
    background-image:
    radial-gradient(
      circle at top right,
      rgba(29, 138, 221, 0.273),
      #0c0b10 45%
    );
    /* height: 300px; */
    width: 300px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info > .game-title, p {
    margin: 0 auto;
}

.info > p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.buttons > .btn {
    /* width: 370px; */
    display: flex;
    font-family: 'Calibri';
    margin: auto;
    text-align: center;
}

.modal, .tabs {
    background-color: #232228;
    color: white;
}

.tabs {
    background-color: #232228;
    color: white;
}

.material-icons {
    color: white;
}

.tabs {
    padding-top: 10px;
}

.tabs .tab a {
    color:#fff;
}

.tabs .tab a:hover {
    background-color:#15141b;
    color: #fff;
}

.tabs .tab a.active {
    background-color:#211f28;
    color:rgb(255, 255, 255);
}

.tabs .indicator {
    background-color:rgb(143, 143, 143);
}

ol>ul:not(.browser-default)>li {
    list-style-type: disc;
    margin-left: 15px;
}